@import '@/styles/variables.scss';
@import '@/styles/mixin.scss';

.question {
  background-color: $question-background-color;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 32px;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  width: 90vw;

  &:hover {
    transform: translateY(-8px);
    background-color: $question-hover-background-color;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1.6px 1.6px 3.2px rgba(0, 0, 0, 0.2);
  }

  &__answer {
    font-size: 18px;
    margin-bottom: 16px;
    color: $question-answer-text-color;
  }

  &__tags {
    margin-top: 16px;

    & .question__tag {
      @include tag-styles;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
    margin-bottom: 30px;

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__answer {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__tags {
      margin-top: 10px;

      & .question__tag {
        font-size: 12px;
      }
    }
  }
}
