@import '@/styles/variables.scss';
@import '@/styles/mixin.scss';

.nav {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(118 118 118) 0%, rgb(0, 0, 0) 99.4%);
  @include display-flex(column, center, flex-start);
  font-size: 16px;
}
.menu {
  @include display-flex(column, normal, center);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;

  li {
    display: block;
    padding: 16px 16px 16px 20px;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-align: center;
  }
  :hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: $input-button-text-color;
  }
}

.menuItem {
  text-decoration: none;
  color: $textMenuColor;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.logo {
  padding-top: 20px;
}
