@import '@/styles/mixin.scss';
.tags_container {
  @include display-flex(column, center, space-between);
  margin-top: 16px;
}

.tags {
  margin-top: 16px;
  @include display-flex(row, center, flex-start);
  flex-wrap: wrap;
}
.select_btn_container {
  @include display-flex(row, center, center);
  gap: 12px;
}
.select_btn_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
