@mixin selected-tag-styles {
  background-color: $selected-tag-background;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin tag-styles {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3.2px 16px;
  border-radius: 32px;
  font-weight: bold;
  border: 0.8px solid $selected-tag-background;
  color: $tag-background;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
