$backgroundMenuColor: rgb(31, 41, 55, 1);
$textMenuColor: rgb(240, 248, 255);
$bgHoverMenuColor: rgba(140, 154, 174, 0.231);
$tag-text-color: #fcfdff;
$tag-background: #1c252c;
$selected-tag-background: #a2b1c8;
$selected-tag-text-color: #fcfdff;
$main-background-color: #edf2f8;
$question-background-color: #fff;
$question-hover-background-color: #f8f8f8;
$question-answer-text-color: #555;
$input-border-color: #ccc;
$input-button-background-color: #ff6b6b;
$input-button-text-color: #fff;
$input-button-background-color-hover: #ff3b3b;
$input-result-test-color: #333;
