$backgroundMenuColor: rgb(31, 41, 55, 1);
$textMenuColor: rgb(240, 248, 255);
$bgHoverMenuColor: rgba(140, 154, 174, 0.231);
$tag-text-color: #b2becd;
$tag-background: #454e56;
$selected-tag-background: #2775c3;
$selected-tag-text-color: #fff;
