.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  height: 100vh;
  max-width: 100vw;
}
.contentLayout {
  display: grid;
  grid-template-rows: 4fr;
  grid-gap: 32px;
  .mainContent {
    grid-column: 1;
    grid-row: 1/4;
  }
  .footerContent {
    grid-column: 1;
    grid-row: 4;
  }
}
